<img src="https://www.bisnia.es/wp-content/uploads/2019/10/limpieza-datos-870x466.jpg">

# Data Clean up

### Import the necessary libraries

In [34]:
import pandas as pd
import src.limpieza_texto as lt
import re

### Import the dateframe

In [6]:
original_data = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [7]:
original_data.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
18843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3388,1970.07.05,5-Jul-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,male,M,...,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2915.0,NaN,NaN

There are some rows where there is no data.

In [8]:
original_data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

### The first step is to delete all the incomplete values.
We use the function `dropna` to delete `all` the rows where there are no values.

In [9]:
data_filtered_1= original_data.dropna(axis=0, how="all")
print(data_filtered_1.shape)
data_filtered_1.tail()

(8703, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As we cas see, there are some row where thr `case number` value is `0` and the rest of the values are `Nan`.
First we create a new variable and select the filtered rows of the dataframe where the `case number`value is different from `0`.

In [10]:
data_filtered_2 = lt.valores_distintos(data_filtered_1, "Case Number", "0")
data_filtered_2.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As que can see, there is a value at the end of dataframe where the `Case Number` value is `xx` and the rest of the values of the row `NaN`, so I delete that row using the method `.drop()` and selecting the value of the index.

In [11]:
data_filtered_3 = data_filtered_2.drop(index= 25722)

In [12]:
data_filtered_3.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

There are also some columns called`pdf`, `href formula`, `Unnamed: 22`, `Unnamed: 23`, which I consider that are not useful.

The column `original order` is also no usefull becouse is the same as the index but inverted.

I used a personal function called `.elim_columnas()` to delete all the columns i have selected in a list called `eliminar`.

In [14]:
eliminar = ["Unnamed: 22","Unnamed: 23", "pdf", "href formula", "original order"]
data_filtered_4 = original_data
data_filtered_4=lt.elim_columnas(data_filtered_3, eliminar)
data_filtered_4

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href,Case Number.1,Case Number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001

#### At the end of the dataframe there are to columns, so the next step is to check if the information is difference between them.
I have created a function called `check_columns` that find out the values that are not equal in the selected `columns`.

In [19]:
lt.check_columns(data_filtered_4, "Case Number.1", "Case Number.2").sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,...,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b,5989.0,NaN,NaN
3795,"1962,08.30.b",30-Aug-1962,1962.0,Boat,TURKEY,Antalya Province,Ucagiz,NaN,Occupant: Hasan Olta,M,...,NaN,"C.Moore, GSAF",1962.08.30.b-pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.08.30.b,"1962,08.30.b",2508.0,NaN,NaN
6009,"1853,94.29",29-Apr-1853,1853.0,Unprovoked,GREECE,Corfu,NaN,Swimming,Hanson,M,...,234-lb shark,"South Australian Register, 5/8/1854",1853.04.29-Hanson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.04.29,"1853,94.29",294.0,NaN,NaN

After analyzing these two columns, you can see that it is the same value as the `case number` column but with different characters, so I decide to delete them.

In [22]:
eliminar_2 = ["Case Number.1", "Case Number.2"]
data_filtered_5 = original_data
data_filtered_5=lt.elim_columnas(data_filtered_4, eliminar_2)
data_filtered_5.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
4227,1956.10.20,20-Oct-1956,1956.0,Unprovoked,PAPUA NEW GUINEA,Central Province,Kapakapa,"Spearfishing, holding 5' speared fish",Bogana Sabati,M,NaN,"Left forearm & hand bitten, surgically amputated",N,NaN,3.7 m [12'] shark,"South Pacific Post, 1/024/1956; A.M. Rapson, p...",http://sharkattackfile.net/spreadsheets/pdf_di...
3985,1960.06.24,24-Jun-1960,1960.0,Unprovoked,USA,Florida,"2 miles east of Dania Beach, Broward County",Scuba diving,William F. Fey,M,39,"No injury, shark harrassed diver & attempted t...",N,11h00,"Mako shark, 1.8 m to 2.1 m [6' to 7'] with ho...",W.F. Fey,http://sharkattackfile.net/spreadsheets/pdf_di...
4525,1949.00.00.d,1949,1949.0,Unprovoked,PAPUA NEW GUINEA,New Ireland Province,"Enang , Kavieng",NaN,Olai,M,NaN,Hand & shoulder bitten,N,NaN,NaN,"J. McLachlan, Medical Officer, Kavieng; A.M. R...",http://sharkattackfile.net/spreadsheets/pdf_di...

In [23]:
data_filtered_6 = data_filtered_5.dropna(axis=0, how="all")
data_filtered_6

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...

## Hypothesis 1

I conducted a study on how many `researchers` there are and how much research they have carried out. Is there a shark attack specialist?

In [24]:
data_filtered_6["Investigator or Source"].unique()

array(['R. Collier, GSAF', 'K.McMurray, TrackingSharks.com',
       'B. Myatt, GSAF', ..., 'F. Schwartz, p.23; C. Creswell, GSAF',
       'The Sun, 10/20/1938', 'S.W. Baker'], dtype=object)

In [25]:
data_filtered_6["Investigator or Source"].value_counts()

C. Moore, GSAF                                                                           105
C. Creswell, GSAF                                                                         92
S. Petersohn, GSAF                                                                        82
R. Collier                                                                                55
T. Peake, GSAF                                                                            48
                                                                                        ...
R. Collier, G.. Helfman                                                                    1
Dundee Evening Telegraph, 12/12/1959; P. Gilbert; V.M. Coppleson (1962), pp.247 & 259      1
H. Trong &                 U. Phuong,.Saigon Daily, 1/13/2010                              1
P. McCallum, M. Levine,GSAF; M.A. Reade, NSB                                               1
Courier-Mail, 1/6/1993, p.1                                                                1
Name: Investigator or Source, Length: 4969, dtype: int64

In [26]:
data_filtered_6[data_filtered_5["Investigator or Source"] == "C. Moore, GSAF"].sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
4074,1959.08.12,12-Aug-1959,1959.0,Provoked,CROATIA,Istria,Pula,Fishing,Narcisco Tomaz,M,NaN,Laceration to arm PROVOKED INCIDENT,N,NaN,20 kg shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5990,1858.04.04,04-Apr-1858,1858.0,Unprovoked,TOBAGO,NaN,Rocky Bay,Bathing,John Williams,M,NaN,"Leg bitten, surgically amputated",N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5421,1909.04.27.R,Reported 27-Apr-1909,1909.0,Provoked,SPAIN,Andalucia,"Puente Mayorga, San Roque, Cádiz",Fishing,male,M,NaN,Shark knocked him down after he grabbed it by ...,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5865,1876.09.07.R,Reported 07-Sep-1876,1876.0,Unprovoked,GREECE,Cyclades archipelago,Between the islands of Tenos and Andros,Diving for sponges,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5036,1930.09.12.R,1930,1930.0,Boating,AZORES,NaN,NaN,NaN,NaN,NaN,NaN,"No inury to occupants, shark struck boat",N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5703,1890.06.02.R,Reported 02-Jun-1890,1890.0,Unprovoked,EGYPT,NaN,Port Said,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4078,1959.08.02,21764,1959.0,Invalid,ITALY,Tuscany,"Cala del Corvo, Isola del Giglio",Scuba diving,Karl Pollerer & Eric Eisesenid,M,34 & 19,Probable drowing. Shark involvement unconfirmed,NaN,NaN,Shark involvement prior to death was not confi...,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4955,1933.09.27.R,Reported 27-Sep-1933,1933.0,Boating,ISRAEL,NaN,Nabi Rubin,Fishing,2 males,M,NaN,"One man bitten on thigh, another on arm",N,NaN,3 sharks,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4504,1949.08.17,17-Aug-1949,1949.0,Invalid,ITALY,Tuscany,Elba Island,Swimming,Domenico Murolo,M,17,No injury,NaN,NaN,2 m shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4812,1938.07.17.R,Reported 17-Jul-1938,1938.0,Provoked,TURKEY,NaN,NaN,Fishing,Ahmed,M,NaN,Injured by harpooned shark PROVOKED INCIDENT,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [38]:
import src.limpieza_texto as lt

In [27]:
lt.valores_iguales(data_filtered_6, "Investigator or Source", "C. Moore, GSAF")

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
136,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N,NaN,"3m shark, probably a smooth hound","C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
2718,1988.08.22.a,22-Aug-1988,1988.0,Unprovoked,ITALY,Manfredonia,Ippocampo,NaN,male,M,16,Survived,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3183,1976.06.02.R,Reported 02-Jun-1976,1976.0,Provoked,ITALY,Reggio Calabria Province,Bovalino,Fishing,Francisco Pelle,M,46,Shark rammed boat PROVOKED INCIDENT,N,NaN,"Blue shark, 2m","C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3229,1975.04.25,25-Apr-1975,1975.0,Invalid,ITALY,Genoa Province,Cervara,Scuba diving,Walter Sansoni,M,37,The press reported this as an attack by a whit...,NaN,NaN,Invalid,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3513,1967.08.25,25-Aug-1967,1967.0,Unprovoked,ITALY,Liguria,"Marinella Sarzana, La Spezia",Spearfishing on Scuba,Gian Paolo Porta Casucci,M,NaN,Minor injuries to face & forearm,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6156,1738.04.06.R,Reported 06-Apr-1738,1738.0,Unprovoked,ITALY,Sicily,Strait of Messina,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6193,ND-0134,Between 1951-1963,0.0,Unprovoked,GREECE,NaN,NaN,Swimming,Martha Hatagouei,F,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6196,ND-0130,Before 1876,0.0,Unprovoked,LEBANON,NaN,NaN,Collecting fish,Kahlifeh,M,NaN,Posterior thigh bitten,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6197,ND-0129,Before 2012,0.0,Unprovoked,SPAIN,Canary Islands,Tenerife,Skin diving,NaN,NaN,NaN,Injury required 16 stitches,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [56]:
df1=data_filtered_6.assign(Main_activity = "Not defined")

In [39]:
rsky_list = ["Surfing", "Swimming", "Fishing", "Spearfishing", "Bathing", "Wading", "Diving", "Diving", "Standing", "Snorkeling", "Scuba diving", "Body boarding"]

for i in range(6302):
    re.sub(r"*(D|d)iving*", "Diving", data_filtered_6["Activity"][i])

error: nothing to repeat at position 0

In [35]:
data_filtered_6["Main_activity"] =  [re.sub(r'*[(D|d)iving]*','Diving', str(x)) for x in data_filtered_6["Activity"]]

error: nothing to repeat at position 0

### last step: export the dataset to the data folder  "midatasetlimpio.csv"

In [29]:
shrk = data_filtered_6
shrk.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
4245,1956.07.28,28-Jul-1956,1956.0,Provoked,USA,Puerto Rico,Aquadilla,Floating in inner tube,Jose Alengo,M,13,FATAL. His brother speared a shark which then ...,Y,10h30,NaN,"V.M. Coppleson (1958), p.265",http://sharkattackfile.net/spreadsheets/pdf_di...
5590,1898.07.26.R,Reported 26-Jul-1898,1898.0,Invalid,AUSTRALIA,New South Wales,Sydney,Swimming after their boat capsized,Martin Gunner,M,NaN,"Reported fatal, but this is a questionable inc...",NaN,NaN,Questionable,"Brisbane Courier, 7/26/1898",http://sharkattackfile.net/spreadsheets/pdf_di...
1407,2007.01.19,19-Jan-2007,2007.0,Invalid,AUSTRALIA,New South Wales,Brunswick Heads,Swimming,Thomas Houghton,M,20,Shark involvement prior to death unconfirmed,NaN,NaN,Shark involvement prior to death was not confi...,"Northern Star, 1/24/2007",http://sharkattackfile.net/spreadsheets/pdf_di...
3651,1964.12.10.a,10-Dec-1964,1964.0,Boat,AUSTRALIA,New South Wales,Port Jervis,Fishing,"19' boat, occupants: Ray Peckham, L.C. Wells",NaN,NaN,"No injury to occupants, shark rammed boat, bit...",N,10h30,4.6 m [15'] shark,"Adelaide Advertiser, 12/11/1965",http://sharkattackfile.net/spreadsheets/pdf_di...
1776,2003.05.03,03-May-2003,2003.0,Unprovoked,USA,Florida,"Daytona Beach Shores, Volusia County",Walking,A.J.,F,9,Laceration to right lower leg,N,12h20,NaN,"S. Petersohn, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [59]:
df_surf = shrk[shrk["Activity"] == "Surfing"]

In [ ]:
df_surf = shrk[shrk["Activity"] == "Diving"]

In [30]:
shrk.to_csv(".\Data\midatasetlimpio.csv")